@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap');
  

*{
    font-family:'lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    background-image: url("../imagens/fundo.jpg");
    background-position: left bottom;
    color: white;
    
    height: 100vh;
}

header > nav{
    text-align: right;
    padding-top: 25px;
    padding-right: 30px;

}

header > nav > a{
    font-weight: bolder;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.793);
    
}

header > nav > a:hover{
    background-color: rgba(0, 0, 0, 0.694);
    border-radius: 3px;
}

header > h1{
    text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.602);
    font-size: 3.5em;
    width: 40vw;
    padding-left: 40px;
    margin-top: 180px;
}

header > p{
    text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.793);
    font-size: 1.2em;
    width: 40vw;
    padding-left: 40px;
    padding-top: 10px ;
    padding-bottom: 40px;
}

header > a{
    background-color: royalblue;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 40px;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 5px;
}

header > a:hover{
    background-color: rgb(38, 61, 129);
}

